name: Build macOS Executable

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.6'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt || true
          pip3 install pyinstaller

      - name: Build executable
        run: pyinstaller --onefile swb.py

      - name: Upload macOS build
        uses: actions/upload-artifact@v3
        with:
          name: macos-executable
          path: dist/
