# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build folders
build/
dist/
*.spec

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.bak

# Python virtual environments
venv/
env/
